@charset "utf-8";

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local('Atkinson Hyperlegible'),
    url('atkinsonhyperlegible-regular-webfont.woff2') format('woff2'),
    url('atkinsonhyperlegible-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local('IBM Plex Sans'),
    url('ibmplexsans-regular-webfont.woff2') format('woff2'),
    url('ibmplexsans-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local('IBM Plex Mono'),
    url('ibmplexmono-regular-webfont.woff2') format('woff2'),
    url('ibmplexmono-regular-webfont.woff') format('woff');
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

* {
padding:0;
margin: 0;
}

::selection {
  background: blue;
  color: #fafafa;
}

html {
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

$theme-light-first-text-color: #444;
$theme-dark-first-text-color: #888;
$theme-light-second-text-color: #999;
$theme-dark-second-text-color: #666;
$theme-light-bg-color:#fafafa;
$theme-dark-bg-color:#262626;

$theme-bg-color:#fafafa;

$theme-table-header-bg-color:#bec5b2;
$theme-table-row-a-bg-color:#edeada;
$theme-table-row-b-bg-color:#e8e5d5;

$body-width: 80rem;
$sidebar-width: 18vw;

@mixin color($property, $var, $fallback){
  #{$property}: $fallback;
  #{$property}: var($var, $fallback);
}

.theme-dark {
  --first-text-color: #{$theme-dark-first-text-color};
  --second-text-color:#{$theme-dark-second-text-color};
  --bg-color: #{$theme-dark-bg-color};
}

body {
  text-rendering: optimizeLegibility;
  font-family: IBM Plex Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  font-size: 1rem;
  line-height:1.1;
  display: flex;
  flex-flow: row wrap;
  hyphens: auto;
  @include color(background, --bg-color,  $theme-light-bg-color);
  @include color(color, --first-text-color, $theme-light-first-text-color);
}

.theme-button{
  display: none;
  padding:0;
  border:none;
  background: transparent;
  color: royalblue;
  cursor: pointer;
  margin-right:1rem;

  &:not(:hover){
    border-bottom-color: transparent;
  }
}

.theme-button.enabled{
  display: inline;
}

code {
  font:1.0rem IBM Plex Mono, monospace;
  border-radius: 6px;
  padding: 0 0.3rem;
  margin: 0 2px;
  background-color: #383838;
  color: #e6e1dc;
}

pre {
  width: $body-width;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0.5rem 0 0.5rem;
  display: inline-block;
  white-space: pre-wrap;
  overflow: hidden;
  overflow-wrap: anywhere;
  font:1rem IBM Plex Mono, monospace;
  line-height:1;
  font-size: 1rem;
  padding:1.2rem 0 1.2rem 1.2rem;
  border-radius: 10px;
  background-color: #383838;
  color: #e6e1dc;
}

table {
  width: $body-width;
  max-width: 100%;
  overflow: hidden;
  border-spacing: 4px;
  border-collapse: separate;
}

thead tr {
  background-color: $theme-table-header-bg-color
}

th {
  padding: 1rem 0rem 1rem 1rem;
  text-align: left;
  font-weight: 1200;
}

td {
  padding: 0.5rem 0rem 0.5rem 1rem;
}

tbody tr {
  padding: 10rem 0 0 0;
  background-color: $theme-table-row-a-bg-color
}

tbody tr:nth-of-type(even) {
  background-color: $theme-table-row-b-bg-color
}


a:link {
  text-decoration: none;
  color:royalblue;
}

a:hover {
  @include color(color, --second-text-color, $theme-light-second-text-color);
}

a:visited {
  color:royalblue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: IBM Plex Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  text-transform: uppercase;

  .anchor {
    visibility: hidden;
    text-decoration: none;
    border-bottom-color: transparent;
    cursor: pointer;
    padding-left:1rem;
    @include color(color, --second-text-color, $theme-light-second-text-color);
  }

  &:hover {
    .anchor {
      visibility: visible;
    }
  }
}

h1 {
  line-height: 4.5rem;
  font-size:4.5rem;
  font-weight: 1200;
  text-transform: uppercase;
  margin:0.5rem 0 3rem;
}

h2 {
  font-size: 2.7rem;
  font-weight: 1200;
  line-height: 2.7rem;
  margin: 2rem 0 1.5rem;
}

h3 {
  font-size:1.7rem;
  line-height: 1.7rem;
  font-weight: 500;
  margin: 1rem 0 1rem;
}

h4 {
  font-size:1.3rem;
  font-weight: 400;
  margin: 1rem 0 0.5rem;
}

header{
  font-size: 1.3rem;
  line-height: 2.4rem;
  padding: 3rem 0rem 0rem 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start;
  background-color: $theme-bg-color;

  position: sticky;
  top: -3rem;
  z-index: 100;

  button {
    font-size: 1.625rem;
  }

  #breadcrumbs {
    position: sticky;
    top: 0px;
    display: flex;
    flex-flow: row wrap;
    font-style: italic;
    background-color: $theme-bg-color;
    width: 100%;
  }

  button {
    font-size: 1.625rem;
  }

  ul {
    list-style-type: none;
    text-align: left;
    @include color(color, --second-text-color, $theme-light-second-text-color);
  }

  em {
    font-size:1.625rem;
    line-height: 1.2;
  }
}

nav {
  font-size: 1.1rem;
  line-height: 3rem;
  padding: 1rem 1rem 1rem 2rem;
  width: 20%;

  display: flex;
  flex-flow: column nowrap;
  margin-top: 0;
  background-color: $theme-bg-color;

  button {
    font-size: 1.625rem;
  }

  ul {
    list-style-type: none;
    text-align: left;
    @include color(color, --second-text-color, $theme-light-second-text-color);
  }

  li {
    position: sticky;
    top: 2rem;
    background-color: $theme-bg-color;
  }

  em {
    font-size:1.625rem;
    line-height: 1.2;
  }
}

main {
  padding: 13px 0 0 0;
  width: $body-width;
  max-width: 90%;
  display: flex;
  flex-flow: column nowrap;
  margin-left:auto;
  margin-right:auto;
  overflow-wrap: normal;

  #breadcrumbs {
    display: flex;
    flex-flow: row wrap;
    font-style:italic;

    ul {
      list-style-type: none;
      text-align: left;
      @include color(color, --second-text-color, $theme-light-second-text-color);
    }

    em {
      font-size:1.625rem;
      line-height: 1.2;
    }
  }

  //border: solid;
  border-width: 1px;
  border-color: #000000;


  p {
    margin:0 0 0 0;
  }

  article {
    font-family: Atkinson Hyperlegible,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 1.1rem;
    line-height: 1.6rem;

    ul, ol {
      margin:0 0 1rem 1rem;
    }

    a:visited {
      color:blueviolet;
    }
  }

  img.resized {
    width:100%;
    object-fit:contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

#taxonomies {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.5rem;
  margin: 1rem 0 1rem;

  date {
    @include color(color, --second-text-color, $theme-light-second-text-color);
  }

  ul {
    display: flex;
    flex-flow: column;
    list-style: none;
    margin:0 1rem;
  }
}

#mobile {
  display: none;
}

#tax_list {
  list-style: circle;
  @include color(color, --second-text-color, $theme-light-second-text-color);
}

@media all and (max-width: 1380px) {
  nav { flex: 1 0 0; }
  nav {
    li {
      position: sticky;
      top: 2rem;
      background-color: $theme-bg-color;
    }
  }
  h1 {
    position: sticky;
    background-color: $theme-bg-color;
    top: 2rem;
    font-size: 1.3rem;
    line-height: 2.4rem;
    z-index: 100;
  }
  main {
    max-width: 90%;
  }
}

@media all and (min-width: 1381px) {
  h1 {
    position: sticky;
    background-color: $theme-bg-color;
    top: 0;
    z-index: 100;
  }
  nav {
    ul {
      margin-top: 10%;
      position: sticky;
      top: 2rem;
      background-color: $theme-bg-color;
    }
  }
  main {
    max-width: $body-width;
  }
  main { flex: 3 0; }
  header { order: 1; }
  nav { order: 2; }
  main { order: 3; }
}
