{% import "macro.html" as macro %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
      <title>{% block title %}{{ config.title }}{% endblock title %}</title>
      <link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
      <link rel="icon" type="image/png" rel="noopener" target="_blank" href="/favicon.png">
    </head>

    <body>
      <header>
      {% block header %}
        <ul id="breadcrumbs">
            {% for parent in section.ancestors %}
                {% set s = get_section(path=parent, include_pages=false) %}
                    <li><a href="{{s.permalink}}">{{s.title}}</a>&nbsp;&#8594;&nbsp; </li>
                {% endfor %}
                    <li>{{ section.title }}</li>
        </ul>
        <ul id="breadcrumbs">
          {% for tax in config.taxonomies %}
            <li>/<a href="/{{tax.name}}/">{{tax.name}}</a>&nbsp;</li>
          {% endfor %}
        </ul>
      {% endblock header %}
      </header>

      <nav>
      {% block nav %}
        {{ macro::tree() }}
      {% endblock nav %}
      </nav>

      <main>
        {% block content %}
        <article>
        </article>
        {% endblock content %}
      </main>
    </body>
</html>
