{% extends "index.html" %}

{% block title %} {{ config.title }} | {{ section.title }} {% endblock title %}

{% block header %}
  <ul id="breadcrumbs">
    {% for parent in section.ancestors %}
      {% set s = get_section(path=parent, include_pages=false) %}
        <li><a href="{{s.permalink}}">{{s.title}}</a>&nbsp;&#8594;&nbsp; </li>
      {% endfor %}
      <li>{{ section.title }}</li>
  </ul>
{% endblock header %}

{% block nav %}
  {{ macro::tree() }}
{% endblock nav %}

{% block content %}
  {% set all_pages = section.pages | sort(attribute="date") %}
  {% set post = all_pages | last %}

  <div id="taxonomies">
    {% if post.date %}
      <date>{{ post.date | date(format="%Y.%m.%d") }}</date>
    {% endif %}

    {% if post.taxonomies.tags %}
      <ul>
      {% for tag in post.taxonomies.tags %}
        <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}" >#{{ tag }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>

  <h1>{{ post.title }}</h1><em>{{ post.description | safe }}</em>

  <article>
    {{ post.content | safe }}
  </article>
{% endblock content %}
